<div id="container-reset">
	<h1>Reset Your Password</h1>
	<%= form_tag password_resets_path do %>
		<%= label_tag :email, "Email" %>
		<%= text_field_tag :email %>

		<p class="login"><%= submit_tag "Reset Password" %></p>
	<% end %>	
</div>	
	<body="preloaded">
	  <div class="marker1 marker"></div>​ 
      <div class="marker2 marker"></div>​
      <div class="marker3 marker"></div>​
      <div class="marker4 marker"></div>​
      <div class="marker5 marker"></div>​
      <div class="marker6 marker"></div>​
      <div class="marker7 marker"></div>​
      <div class="marker8 marker"></div>​
      <div class="marker9 marker"></div>​
      <div class="marker10 marker"></div>​
      <div class="marker11 marker"></div>​
      <div class="marker12 marker"></div>​ 
      <div class="marker13 marker"></div>​
      <div class="marker14 marker"></div>​
      <div class="marker15 marker"></div>​
      <div class="marker16 marker"></div>​
      <div class="marker17 marker"></div>​
      <div class="marker18 marker"></div>​
      <div class="marker19 marker"></div>​
      <div class="marker20 marker"></div>​
      <div class="marker21 marker"></div>​
      <div class="marker22 marker"></div>​
      <div class="marker23 marker"></div>​
    </body>  