<h1>Edit todo List </h1>

<%= render 'form' %>

<button class="btn btn-info", text><%= link_to 'Show', @todo_list %></button>
<button class="btn btn-inverse", text><%= link_to 'Back', todo_lists_path %></button>
