<div class="container">	
	<h1>home page - ready to start brainstorming!!</h1>

	<p>haters gonna hate</p>
	<div class="marker1 marker"></div>​
	<div class="marker2 marker"></div>​
	<div class="marker3 marker"></div>​
	<div class="marker4 marker"></div>​
	<div class="marker5 marker"></div>​
	<div class="marker6 marker"></div>​
	<div class="marker7 marker"></div>​
	<div class="marker8 marker"></div>​
	<div class="marker9 marker"></div>​
	<div class="marker10 marker"></div>​
	<div class="marker11 marker"></div>​
	<div class="marker12 marker"></div>​
	<div class="marker13 marker"></div>​
	<div class="marker14 marker"></div>​
	<div class="marker15 marker"></div>​
	<div class="marker16 marker"></div>​
	<div class="marker17 marker"></div>​
	<div class="marker18 marker"></div>​
	<div class="marker19 marker"></div>​
	<div class="marker20 marker"></div>​
	<div class="marker21 marker"></div>​
	<div class="marker22 marker"></div>​
	<div class="marker23 marker"></div>​

</div>	
