/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import url(http://fonts.googleapis.com/css?family=Gruppo);

html {
	background: url(background2.jpg);
 	background-size: 1440px 800px;
 	background-repeat:no-repeatdisplay ;
 	background-attachment: fixed;
}

/*
====================================================
User alerts and errors
====================================================
*/

div.alert{
	border: 2px solid #aaa;
	padding: 10px;
}

div.flash.success { border: 2px solid green; color: green; }
div.flash.error   { border: 2px solid red; color: red; }
div.flash.notice  { border: 2px solid blue; color: blue; }


/*
====================================================
User register page
====================================================
*/
#container-register {
  background-color: rgba(68, 68, 68, 0.7);
  max-width: 960px;
  margin: auto;
  padding: 1em;
  border-radius: 1em;
  text-color: white ;
  margin-top: 10px ;
}

div#container-register h1 {
	color: white;
	font-size: 60px;
}

div.field label {
	color: white;
	font-size: 20px;
}

div.actions input {
	color: black;
	font-size: 20px;
	height: 50px;
	width: 350px;
	border-radius: 10px;
	margin-bottom: 10px;
}

div.actions input:hover {
	color: black;
	font-size: 20px;
	height: 50px;
	width: 350px;
	border-radius: 10px;
	margin-bottom: 10px;
	box-shadow: 1px 1px 1px 2px green ;
}

div#container a {
	color: white;
	font-size: 20px;
}
/*
====================================================
User sign in page
====================================================
*/
#container-login {
  background-color: rgba(68, 68, 68, 0.7);
  max-width: 960px;
  margin: auto;
  padding: 1em;
  border-radius: 1em;
  text-color: white ;
  margin-top: 10px ;
}

div#container-login h1 {
	color: white;
	font-size: 60px;
}

div#container-login form label {
	color: white;
	min-width: 150px ;
}

p.login {
	margin-top:20px;
}

input.btn.btn-primary {
	color: white;
	font-size: 20px;
	height: 50px;
	width: 300px;
	border-radius: 10px;
}

input.btn.btn-primary:hover {
	color: white;
	font-size: 20px;
	height: 50px;
	width: 300px;
	border-radius: 10px;
	box-shadow: 1px 1px 1px 2px whitesmoke ;
}

p button.btn.btn-inverse {
  	text-color: white;

}

p button.btn.btn-inverse:hover {
  	text-color: white;
	box-shadow: 1px 1px 1px 2px whitesmoke ;
}
/*
====================================================
User forgot password - send email page
====================================================
*/
#container-reset {
  background-color: rgba(68, 68, 68, 0.7);
  max-width: 960px;
  margin: auto;
  padding: 1em;
  border-radius: 1em;
  text-color: white ;
  margin-top: 10px ;
}

div#container-reset h1 {
	color: white;
	font-size: 60px;
}

div#container-reset form label {
	color:white;
}

div#container-reset form input {

	border-radius: 5px;
	color: black;
}

/*
====================================================
User home page
====================================================
*/

div.airtribuo {
	content:url(airtribuo.png);
	max-width: 960px;
  	margin: auto;
  	margin-top: 10px;
	height: 250px;
	width: 250px;
	border-radius: 100%;
	align: center;
	box-shadow: 0px 15px 6px -6px grey
}

div.container {
	margin-left: 4em;
}

div.container h1 {
	margin: auto;
	text-align: center;
	margin-top: 5px;
	color: whitesmoke;
	text-shadow: 0px 5px 4px rgba(149, 150, 150, 0.96);
}	


/*
====================================================
Dropping markers - THANK YOU JOEL I WILL REMEMBER YOU FOREVER FOR THIS!!!!
And for help with my facebook stuff.

Markers are set in the following locations under /views
	- users: _forms.html.erb
	- user_sessions: new.html.erb
	- todo_lists: home.html.erb;
====================================================
*/

div.marker {
	transition: all ease-in-out 1s;	
}

body.preloaded div.marker {
	top: -100px;
}

div.marker1 {
   content:url(marker-48.png);
   top: 499px;
   left: 50px;
   position: absolute;
   z-index: 3;
   visibility: visible;
}div.marker2 {
   content:url(marker-16.png);
   top: 399px;
   right: 99px;
   position: absolute;
   z-index: 2;
   visibility: visible;
}div.marker3 {
   content:url(marker-48.png);
   top: 399px;
   left: 399px;
   position: absolute;
   z-index: 2;
   visibility: visible;
}div.marker4 {
   content:url(marker-32.png);
   top: 399px;
   right: 699px;
   position: absolute;
   z-index: 2;
   visibility: visible;
}div.marker5 {
   content:url(marker-24.png);
   top: 399px;
   right: 199px;
   position: absolute;
   z-index: 2;
   visibility: visible;
}div.marker6 {
   content:url(marker-24.png);
   top: 499px;
   right: 799px;
   position: absolute;
   z-index: 2;
   visibility: visible;
}div.marker7 {
   content:url(marker-32.png);
   top: 499px;
   left: 866px;
   position: absolute;
   z-index: 2;
   visibility: visible;
}div.marker8 {
   content:url(marker-24.png);
   top: 599px;
   right: 599px;
   position: absolute;
   z-index: 2;
   visibility: visible;
}div.marker9 {
   content:url(marker-32.png);
   top: 399px;
   left: 799px;
   position: absolute;
   z-index: 2;
   visibility: visible;
}div.marker10 {
   content:url(marker-48.png);
   top: 499px;
   left: 50px;
   position: absolute;
   z-index: 3;
   visibility: visible;
}div.marker11 {
   content:url(marker-16.png);
   top: 399px;
   right: 99px;
   position: absolute;
   z-index: 2;
   visibility: visible;
}div.marker12 {
   content:url(marker-48.png);
   top: 480px;
   right: 299px;
   position: absolute;
   z-index: 2;
   visibility: visible;
}div.marker13 {
   content:url(marker-32.png);
   top: 400px;
   right: 699px;
   position: absolute;
   z-index: 2;
   visibility: visible;
}div.marker14 {
   content:url(marker-24.png);
   top: 399px;
   right: 69px;
   position: absolute;
   z-index: 2;
   visibility: visible;
}div.marker15 {
   content:url(marker-24.png);
   top: 499px;
   right: 25px;
   position: absolute;
   z-index: 2;
   visibility: visible;
}div.marker16 {
   content:url(marker-32.png);
   top: 499px;
   left: 80px;
   position: absolute;
   z-index: 2;
   visibility: visible;
}div.marker17 {
   content:url(marker-24.png);
   top: 599px;
   right: 300px;
   position: absolute;
   z-index: 2;
   visibility: visible;
}div.marker18 {
   content:url(marker-32.png);
   top: 399px;
   left: 452px;
   position: absolute;
   z-index: 2;
   visibility: visible;
}div.marker19 {
   content:url(marker-32.png);
   top: 599px;
   right: 220px;
   position: absolute;
   z-index: 2;
   visibility: visible;
}div.marker20 {
   content:url(marker-32.png);
   top: 437px;
   right: 199px;
   position: absolute;
   z-index: 2;
   visibility: visible;
}div.marker21 {
   content:url(marker-32.png);
   top: 342px;
   right: 127px;
   position: absolute;
   z-index: 2;
   visibility: visible;
}div.marker22 {
   content:url(marker-32.png);
   top: 399px;
   left: 60px;
   position: absolute;
   z-index: 2;
   visibility: visible;
}div.marker23 {
   content:url(marker-32.png);
   top: 400px;
   left: 60px;
   position: absolute;
   z-index: 2;
   visibility: visible;
}div.marker24 {
   content:url(marker-48.png);
   top: 580px;
   left: 120px;
   position: absolute;
   z-index: 2;
   visibility: visible;
}



