// Place all the styles related to the todo_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*
==========================================================
Profile - main todo list page
==========================================================
*/

#container-mytodo {
  background-color: rgba(68, 68, 68, 0.7);
  max-width: 960px;
  margin: auto;
  padding: 1em;
  border-radius: 1em;
  text-color: white ;
}

div#container-mytodo h1 {
	color: white;
	font-size: 60px;
}

#container-mytodo a {
	color: white;
}

li.span4 img.list-map {
	height: 300px ;
	width: 300px ;
	list-style-type: none;
	border-radius: 10px;
}

li.span4 h3, p {
	color: white;
}

li.span4 button.btn.btn-success {
	color: white;
}

ul.thumbnails {
	list-style-type: none;
}

ul.thumbnails ul {
	color: white;
	list-style-type: none;
}

div#map-canvas {
	border-radius: 10px;
	margin-left: 20px ;
}

.dynamicPos button {
	margin-top: 10px ;
}

div#APIReturnValues.alert.alert-success {
	max-width: 335px;
	margin-top: 10px ;
}

/*
==========================================================
Profile - Show items page
==========================================================
*/

#container-todoedit {
  background-color: rgba(68, 68, 68, 0.7);
  max-width: 960px;
  margin: auto;
  padding: 1em;
  border-radius: 1em;
  text-color: white ;
}

div#container-todoedit ul {
	color: white ;
	font-size: 16px;
	padding-bottom: 10px;
}	

#container-todoedit h1, h2 {
	color: white ;
}


h3#incomplete {
	color: #d9534f ;
	font-size: 30px;
}

h3#complete {
	color: #5cb85c;
	font-size: 30px;
}

/*
==========================================================
Profile - edit location page
==========================================================
*/

#container-list-edit {
  background-color: rgba(68, 68, 68, 0.7);
  max-width: 960px;
  margin: auto;
  padding: 1em;
  border-radius: 1em;
  text-color: white ;
}

#container-list-edit h1 {
	color: white;
}	

#map {
	border-radius:10px ;
}